<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!-- navbar -->
<!-- Just an image -->


<nav class="navbar navbar-light bg">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/websy/image/upload/v1558382476/logo-1.png"  height="120" alt="">
  </a>
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Categoria, Color, Precio..." aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscador de productos</button>
    </form>
</nav>



<div class="hero-wrap js-fullheight" style="background-image: url(https://res.cloudinary.com/websy/image/upload/v1558415023/32712358_1644120475684919_2858148899804151808_n.jpg); height: 900px;">
      <div class="container">
      <div class="overlay"></div>
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" style="height: 641px;">
          <h3 class="v">Todo lo nuevo en tendencias</h3>
          <h3 class="vr">Made in Bolivia</h3>

          <div class="nueva text-center">
            <h1>Tu Catalogo Online</h1>
            <h2>Ofertas que no podras rechazar</h2>
          </div>
        </div>
      </div>
    </div>



          </div>



              <div class="mouse-wheel"><i class="far fa-arrow-alt-down"></i></div>
            </a>

            <div class="goto-here"></div>


<div class="heading-section text-center">
<h1 class="big">Tu Tienda</h1>
<h2 class="mb-4">Nuestros Productos</h2>
</div>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />


<hr>

<!-- <div class="container-fluid">
    <div class="row">
        <% @products.each do |product| %>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                   <a href="#"><%= cl_image_tag product.photo %></a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#"><%= link_to product.name, product_path(product) %></a></h3>
                    <div class="price">Bs.
                        <%= product.precio %>
                        <span>Bs.400</span>
                    </div>
                    <a class="add-to-cart" href="">ADD TO CART</a>
                   </div>
            </div>
        </div>
   <% end %>

</div>
</div> -->

<hr>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558713032/_DSC0882.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558714338/Screen_Shot_2019-05-24_at_12.11.50_PM.png">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Vista Rapida"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Mas Informacion"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                    <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Black Top</a></h3>
                    <div class="price">
                        $14.40
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558714995/_DSC1139.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558715007/_DSC1131.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>

                    </ul>
                    <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-12%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Blue Shirt</a></h3>
                    <div class="price">
                        $17.60
                        <span>$20.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558715964/Screen_Shot_2019-05-24_at_12.38.59_PM.png">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558715319/Screen_Shot_2019-05-24_at_12.28.11_PM.png">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>

                    </ul>
                    <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Black Top</a></h3>
                    <div class="price">
                        $14.40
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558715075/_DSC1254.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558715348/Screen_Shot_2019-05-24_at_12.28.47_PM.png">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>

                    </ul>
                   <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Black Top</a></h3>
                    <div class="price">
                        $14.40
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558715776/_DSC1042.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558715776/_DSC1046.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                    </ul>
                    <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Black Top</a></h3>
                    <div class="price">
                        $14.40
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558716330/Screen_Shot_2019-05-24_at_12.44.55_PM.png">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558715696/Screen_Shot_2019-05-24_at_12.34.04_PM.png">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>

                    </ul>
                    <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-12%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Blue Shirt</a></h3>
                    <div class="price">
                        $17.60
                        <span>$20.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558714758/_DSC0594.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558714728/_DSC0596.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>

                    </ul>
                    <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Black Top</a></h3>
                    <div class="price">
                        $14.40
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558716338/Screen_Shot_2019-05-24_at_12.43.24_PM.png">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558716491/Screen_Shot_2019-05-24_at_12.47.49_PM.png">
                    </a>
                    <ul class="social">
                        <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>

                    </ul>
                   <span class="product-new-label" style="font-size:11px;">Promo</span>
                    <span class="product-discount-label">-10%</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Women's Black Top</a></h3>
                    <div class="price">
                        $14.40
                        <span>$16.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>


<div class="container-fluid">
    <h3 class="h3"><!-- shopping Demo-8  --></h3>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="product-grid8">
                <div class="product-image8">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558567001/_DSC1326_1.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558566967/_DSC1323_1.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" class="fa fa-search"></a></li>
                        <li><a href="" class="fa fa-shopping-bag"></a></li>

                    </ul>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="product-content">
                    <div class="price">Bs. 8.00
                        <span>Bs. 10.00</span>
                    </div>
                    <span class="product-shipping">Envios Gratis</span>
                    <h3 class="title"><a href="#">Women's Plain Top</a></h3>
                    <a class="all-deals" href="">Mas Informacion <i class="fa fa-angle-right icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid8">
                <div class="product-image8">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558567948/_DSC0475.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558567981/_DSC0479.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" class="fa fa-search"></a></li>
                        <li><a href="" class="fa fa-shopping-bag"></a></li>

                    </ul>
                    <span class="product-discount-label">-30%</span>
                </div>
                <div class="product-content">
                    <div class="price">Bs. 7.00
                        <span>Bs. 10.00</span>
                    </div>
                     <span class="product-shipping">Free Shipping</span>
                    <h3 class="title"><a href="#">Women's Plain Top</a></h3>
                    <a class="all-deals" href="">Mas Informacion <i class="fa fa-angle-right icon"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="product-grid8">
                <div class="product-image8">
                    <a href="#">
                        <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558714758/_DSC0594.jpg">
                        <img class="pic-2" src="https://res.cloudinary.com/websy/image/upload/v1558714728/_DSC0596.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="" class="fa fa-search"></a></li>
                        <li><a href="" class="fa fa-shopping-bag"></a></li>

                    </ul>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="product-content">
                    <div class="price">Bs. 8.00
                        <span>Bs. 10.00</span>
                    </div>
                    <span class="product-shipping">Free Shipping</span>
                    <h3 class="title"><a href="#">Women's Plain Top</a></h3>
                    <a class="all-deals" href="">Mas Informacion <i class="fa fa-angle-right icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>




<div class="banner">
   <img class="pic-1" src="https://res.cloudinary.com/websy/image/upload/v1558392914/15110497_1110274545736184_5587128915315435856_o.jpg">
 </div>

</div>

